appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
bokeh==0.11.1
decorator==4.0.9
ipykernel==4.3.1
ipython==4.2.0
ipython-genutils==0.1.0
jsonschema==2.5.1
jupyter-client==4.2.2
jupyter-core==4.1.0
MarkupSafe==0.23
mistune==0.7.2
nbconvert==4.2.0
nbformat==4.0.1
notebook==4.2.0
numpy==1.11.0
pandas==0.18.1
python-dateutil==2.5.3
pytest
pytz==2016.4
PyYAML==3.11
pyzmq==15.2.0
requests==2.10.0
simplegeneric==0.8.1
six==1.10.0
terminado==0.5
tornado==4.3
traitlets==4.2.1
sphinx
travis-sphinx
